<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Form</title>
  </head>
  <body>
    <form class="main-form" action="/thankyou" method="post">
      <div class="name">
        <label for="name">Name</label>
        <input type="text" name="name" value="" placeholder="Your Name">
      </div>

      <div class="email">
        <label for="email">Email</label>
        <input type="email" name="email" value="" placeholder="Your Email">
      </div>

      <div class="birth-year">
        <label for="birthYear">Birth Year</label>
        <input type="text" name="birthYear" value="" placeholder="Your Birth Year">
      </div>

      <div class="position">
        <label for="position">Position</label>
        <input type="text" name="position" value="" placeholder="Your Position">
      </div>
      <div class="password">
        <label for="password">Password</label>
        <input type="password" name="password" value="" placeholder="Your Password">
      </div>

      <div class="image">
        <label for="image">Image</label>
        <input type="file" name="image" value="Upload Image">
      </div>

      <input type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
